<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="postView">
      <h2 data-cy="postViewDetailsHeading"><span jhiTranslate="blogApp.postView.detail.title">Post View</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ postView.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.postView.post">Post</span></dt>
        <dd>
          <div *ngIf="postView.post">
            <a [routerLink]="['/post', postView.post?.id, 'view']">{{ postView.post?.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/post-view', postView.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
